<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<title>垃圾回收点 :: piadu</title>
<link rel="stylesheet" type="text/css" class="library" href="./assets/js/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" class="library" href="./assets/css/style.css">
<script type="text/javascript" class="library" src="./assets/js/jquery/jquery-1.7.2.min.js"></script>
<script type="text/javascript" class="library" src="./assets/js/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner borderCor">
		<div class="container-fluid">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</a>
			<a class="brand" href="/"><b>垃圾回收点</b></a>
			<div class="btn-group pull-right">
				<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
				<i class="icon-user"></i> 游客 <span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li><a href="#">网站简介</a></li>
					<li><a href="#">联系我们</a></li>
					<li class="divider"></li>
					<li><a href="#">产品大全</a></li>
				</ul>
			</div>
			<div class="nav-collapse">
				<ul class="nav">
					<li><a class="f12" href="/wap">手机版</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div style="padding:28px;"></div>

<div class="container-fluid">
	{{template "Content" .}}
</div>

<!-- footer begin -->
<div class="footer">
	<!--<ul>
		<li><a href="#">网站简介</a></li>
		<li><a href="#">联系我们</a></li>
		<li><a href="#">关于我们</a></li>
	</ul>-->
	<p>&copy; 2013 Piadu Team<!--Technology Co.,Ltd--> &nbsp; 版权所有</p>
</div>
<!-- footer end -->

<script id="bootstrap_221" type="text/javascript" class="library" src="./assets/js/betemplate.js"></script>
</body>
</html>
