<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<title>垃圾回收点 :: piadu</title>
<link rel="stylesheet" type="text/css" class="library" href="{{.utils.StaticUrl "js/bootstrap/css/bootstrap.min.css"}}">
<link rel="stylesheet" type="text/css" class="library" href="{{.utils.StaticUrl "css/wap.css"}}">
<script type="text/javascript" src="{{.utils.StaticUrl "js/jquery/jquery-1.7.2.min.js"}}"></script>
<script type="text/javascript" src="{{.utils.StaticUrl "js/province/data.js"}}"></script>
<script type="text/javascript" src="{{.utils.StaticUrl "js/province/datajs.js"}}"></script>
<script type="text/javascript" src="{{.utils.StaticUrl "js/province/jquery.jSelectDate.js"}}"></script>
</head>

<body>
<div class="wapview">
	<div class="header">
		<a href="/wap"><i class="icon-menu"></a></i>
		<i class="icon-star"></i>
		<div class="title"><b>垃圾回收点</b></div>
	</div>
	<div class="content">
		<ul>
			{{range .recyclePoints}}
			<div class="content">
				<dl class="articles">
					<h5><i class="icon-picture"></i> <a onclick="">{{.Name}}</a></h5>
					<dd>
						地址：{{.Province}}{{.City}}{{.Hometown}}{{.Location}}<br/>
						范围：{{.Scope}}<br/>
						联系电话：<a href="tel:{{.Telephone}}">{{.Telephone}}</a>
						<div class="clear"></div>
					</dd>
				</dl>
				<hr>
			</div>
			{{end}}
		</ul>
	</div>
	<div class="footer">
		&copy; 2013 Piadu Team<!--Technology Co.,Ltd--> &nbsp;版权所有
	</div>
</div>

<script>
jSelectProvince("province", '{{.province}}', "city", '{{.city}}', "hometown", '{{.hometown}}');
</script>
</body>

</html>
